# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# VS Code
.vscode/

# Django/database
db.sqlite3
*.sqlite3
/media/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg

# PyInstaller
*.manifest
*.spec

# Test and coverage
.coverage
.tox/
nosetests.xml
coverage.xml

# Logs
*.log

# IDEs
.idea/

# macOS
.DS_Store
